/* Reset all spacing and apply default font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

/* Add padding so content does NOT hide behind fixed header */
body {
    padding-top: 90px;
    background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root { height: 100%; }
