    body {
        font-family: Arial, Helvetica, sans-serif;
        background: white;
        margin: 0;
        padding: 40px 0;
        display: flex;
        justify-content: center;
    }

    .main-box {
        width: 750px;
        background: white;
        padding: 30px;
        border-radius: 12px;
        border: 4px solid #2e87ff;
        display: flex;
        align-items: center;
        gap: 70px;

        /* Shadow added */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .left img {
        width: 260px;
        height: 400px;
        border-radius: 10px;
        object-fit: cover;
    }

    .right {
        flex: 1;
    }

    .right h1 {
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 700;
        text-align: center;
    }

    .input-box {
        margin-bottom: 15px;
    }

    .input-box input {
        width: 90%;
        padding: 12px 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background: #f2f2f2;
        font-size: 16px;
        outline: none;
    }

    .input-box input:focus {
        border: 2px solid #4aa3ff;
        background: #fff;
    }

    .btn {
        width: 97%;
        padding: 12px;
        background: blue;
        color: white;
        border: none;
        border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn:hover {
        background: #0044cc;
    }